.header{
   display: none;
}
@media (max-width: 768px){
    .header{
    display: flex;;
        position: fixed;
        right: 50px;
        top: 30px;
       
        .menu{
            width: 480px;
            height: 650px;
            background-image: linear-gradient(#0c03334d,rgba(12,3,51,0.3));   background-image: linear-gradient(#0c0333e6,rgba(12,3,51,0.9));
            border-radius: 25px;
            position: relative;
        }
    }
}
