.Newsletter {
	background: #333333;
	padding: 50px;
	position: relative;
    text-align: center;
    margin-right: 0px;
    padding-right: 0px;

}

.Help {
	color: white;
	font-size: 3rem;
    text-align: center;
}


.Subscribe{
	font-size: 1rem;
	font-weight: 300;
	margin-bottom: 25px;
    color: white;
}
.Subscribe-box{
	display: inline-block;
	padding: 10px 25px;
	border: 2px solid transparent;
	background:#1a1a1a;
	text-transform: uppercase;
    color:#fff;
    transition:1s;
    border-radius: 91px;
}
.Subscribe-box:hover,
.Subscribe-box:focus {
	color:#1a1a1a;
	background: white;	
}
@media (max-width: 768px){

    .Newsletter {
        background: #333333;
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
 
    
    }
    
    .Help {
        color: white;
        font-size: 2.6rem;
        text-align: center;
    }
    
    
    .Subscribe{
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 25px;
        color:white;
    }
    .Subscribe-box{
        padding: 20px 30px;
        font-size: 1.2rem;
        border: 2px solid transparent;
        background:#1a1a1a;
        text-transform: uppercase;
        color:#fff;
        transition:1s;
        border-radius: 91px;
    }
    .Subscribe-box:hover,
    .Subscribe-box:focus {
        color:#1a1a1a;
        background: white;	
    }
}