.VRroom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color:#fff;
    padding: 60px;;
}
.Vrimg{
    width:500px;
    height:250px;
}
.see{
    background-color: #333333;
    color:#fff;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.h11{
    font-size: 4rem;
    font-weight: bolder;

}
